# General
NODE_ENV="development" # production | development
PORT=5050
CORS_ORIGIN="http://localhost:3000"
DATABASE_URL="postgresql://username:password@localhost:5432/master-backend?schema=public"
FRONTEND_URL="http://localhost:3000"

# Bcrypt
BCRYPT_SALT_ROUNDS=12

# OTP
OTP_EXPIRES_IN=5 # in minutes

# Access token
ACCESS_TOKEN_SECRET="your_jwt_access_secret_key"
ACCESS_EXPIRES_IN="7d"

# Refresh token
REFRESH_TOKEN_SECRET="your_jwt_refresh_secret_key"
REFRESH_EXPIRES_IN="30d"

# Admin credential
SUPER_ADMIN_EMAIL="admin@gmail.com"

# OAuth Credentials
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# Stripe
STRIPE_SECRET_KEY="your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="your_stripe_webhook_secret"

# AWS S3 Configuration
AWS_ACCESS_KEY="your_aws_access_key"
AWS_SECRET_KEY="your_aws_secret_key"
AWS_REGION="your_aws_region"
AWS_S3_BUCKET_NAME="your_aws_bucket_name"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"

# Mail Service
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your_email@gmail.com"
SMTP_APP_PASS="your_email_app_password"
SMTP_FROM="your_email@gmail.com"
SMTP_SUPPORT_MAIL="support@gmail.com"

# Agora Configuration
AGORA_APP_ID="your_agora_app_id"
AGORA_APP_CERTIFICATE="your_agora_app_certificate"
